body {
  font-family: Arial; 
  margin-top: 0px;
  margin-bottom: 0px;
}

.send-button {
  background-color: green;
  color: white;
  padding: 12px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.chat-input {
  border-radius: 10px;
  font-size: 15px;
  border-width: 1px;
  padding: 12px 15px;  

  flex-grow: 1;
}



.chat-input-container {
  display: flex;
  margin-bottom: 60px;
  
}

.app-container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  height: 100vh;
  display: flex;
  flex-direction: column;

}

.chat-message-user {
 display: flex;
 justify-content: end;
 align-items: start;

}

.chat-message-bot{
  display: flex;
  align-items: start;
  
}

.chat-message-text{
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}

.chat-message-profile{
  width: 45px;

}

.chat-message-container{
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none; /* for firefox */

}